/* Flasharr v3 - Use Vanilla Styles */

/* Import the complete v2 styles */
@import './v2-styles.css';
@import './mobile-v2.css';

/* Override any Tailwind reset conflicts */
html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}


